//'**************************************************************************
//Proyecto : SIGEV
//Autor : ALAN YAHIR VALLADARES BORJES 
//Email : 20203tn059@utez.edu.mx
//Descripción : Se modifico los estilos de CDN a unos estaticos 
///Fecha : 17/03/2023
//***************************************************************************
<div th:fragment="javaScript">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</div>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" th:fragment="css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" th:fragment="toast">
    