
<ul class="nav flex-column" th:fragment="nav">
  <li>
    <a class="navbar-brand" href="#">
      <img th:src="@{../../static/img/user.png}" width="30" height="30" alt=""><span>Nombre</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Enlaces</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tema y Contenido</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" >Municipios</a>
  </li>
</ul>
