<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sideBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>


    <div class="d-flex">
        <div id="sidebar-container" class="bg-main">
            <div class="logo ">
                <div class="profile">
                    <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
                        alt="profile_picture">
                    <p>Nombre administrador</p>
                </div>
            </div>
            <div class="menu">
                <a href="#" class="d-block text-white p-3"> <i class="fa-solid fa-gauge"></i> Dashboard</a>
                <a href="#" class="d-block text-white p-3"><i class="fa-solid fa-brush"></i> Tema y contenido</a>
                <a href="#" class="d-block text-white p-3"><i class="fa-solid fa-users"></i> Enlaces</a>
                <a href="#" class="d-block text-white p-3"><i class="fa-solid fa-users-gear"></i> Administradores</a>
                <a href="#" class="d-block text-white p-3"><i class="fa-solid fa-shapes"></i> Categorías</a>
                <a href="#" class="d-block text-white p-3"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Blank_map_of_Morelos.svg/1280px-Blank_map_of_Morelos.svg.png"
                        width="30" height="23">
                    Municipios</a>
                <a href="#" class=" d-block text-white p-3" id="logout"><i class="fa-solid fa-right-from-bracket"></i>
                    Cerrar sesión</a>
            </div>
        </div>

        <div class="w-100">
            <nav class=" w-100 navbar navbar-dark secondaryColor sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Coat_of_arms_of_Morelos.svg/1200px-Coat_of_arms_of_Morelos.svg.png"
                            alt="" width="35" class="d-inline-block align-text-top">
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <a class="d-flex navbar-brand" href="#">
                        <img src="https://images.squarespace-cdn.com/content/v1/5609c343e4b0cbf6eb5548e4/1598900429639-P7LC22GUB3O2593JWQAC/MORELOS_Mesa+de+trabajo+1.png"
                            alt="" width="55" class="d-inline-block align-text-top">
                    </a>
                </div>
            </nav>
            <button id="btnSide" type="button" class="btn bg-main btn-circle sticky-top m-2"><i
                    class="fa-sharp fa-solid fa-bars"></i></button>

            <!-- contenido de pagina -->
            <div id="content">
                <div class="container d-flex align-items-center ">
                    <h1>Municipios</h1>
                    <button class="btn btn-add ms-auto ">Registrar <i class="fa-solid fa-plus "></i></button>
                </div>
                <div class="container">

                    <hr size="5px">
                    <div class="container">
                        <table class="table " id="categoriasTable">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td class="text-start">Categoria</td>
                                    <td class="text-end">
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-trash"></i></button>
                                        <button type="button" class="btn bg-main btn-circle m-1"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#categoriasTable').DataTable();
        });

        var tableData = $('#categoriasTable').DataTable({
            ordering: false,
            language: {
                processing: "",
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoEmpty: "No hay registros para mostrar",
                infoFiltered: "(filtrado de _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron registros coincidentes",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                }
            }
        });
    </script>
</body>

</html>